/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
 font-family: 'Puritan', sans-serif
}

.navbar-inverse {
  background-color: #CB7904;
  border-color: #CB7904;
  font-weight: bold;
  color: white;
  opacity: 1;
}

.navbar-inverse
.navbar-nav > li > a {
    color: #fff;

  }




header {
  margin: auto;
  margin: 0px 15px 0px auto;
  padding-top: 80px;
  padding-bottom: 20px;
}

.header-wrapper {
  background-color: #ffffff;
}

 body {
  text-align: center;
  background-color: #6D6Ac9;
 }



 h1, h2, h3, h4, h5, h6 {
  font-family: 'Asul', sans-serif;  color: #ffffff;
  color: #ffffff;
  text-shadow: 1px 1px 3px #000000
 }

/*  color: #5D91C0;
 opacity: 0.5;
 z-index: 1;  */

 .navbar-inverse .navbar-brand {
    color: #ffffff;
    text-shadow: 1px 1px 3px #000000;
}

 .starter-template {
   padding: 40px 15px;
   text-align: center;
  }

label {
font-size: 1.5em;
color: #ffffff;
text-shadow: 1px 1px 3px #000000;
}

.navbar-header {
margin-bottom: 0px;
}
.messages {
margin-top: -25px;
}

.field {
padding: 5px;
}

.form-control {
  display: inline;
  width: 40%;
}

#navbar-left {
  visibility: hidden;
}

#nonroot-header {
  visibility: hidden;}


/*!
 *  * IE10 viewport hack for Surface/desktop Windows 8 bug
 *   * Copyright 2014-2015 Twitter, Inc.
 *    * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 *     */

/*
 *  * See the Getting Started docs for more information:
 *   * http://getbootstrap.com/getting-started/#support-ie10-width
 *    */
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }
