/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
 font-family: 'Puritan', sans-serif
}

/* NAVIGATION & LAYOUT */
.navbar-inverse {
  background-color: #CB7904;
  border-color: #CB7904;
  font-weight: bold;
  color: white;
  opacity: 1;
}

.navbar-inverse
.navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-header {
  margin-bottom: 0px;
}

.messages {
  margin-top: -25px;
}

.alert-success {
  background-color: #fff;
  border-color: #ccc;
  color: #3c763d;
}

.template {
  padding: 40px 15px;
}

header {
  margin: auto;
  margin: 0px 15px 0px auto;
  padding-top: 80px;
  padding-bottom: 20px;
}

.header-wrapper {
  background-color: #ffffff;
}

#nonroot-header {
  visibility: hidden;
}

/* GENERAL */
body {
  background-color: #f7f7f7;
}

.tiny {
  font-size: 1em;
  vertical-align: bottom;
}

a {
  color: #6D6Ac9;
  text-decoration: none;
}

.panel-body a {
  color: #6D6Ac9;
  text-decoration: none;
}

.panel-body a:hover {
  color: #6D6Ac9;
  text-decoration: underline;
}

.panel-body h1, .panel-body h2, .panel-body h3, .panel-body h4 {
  color: #6D6Ac9;
  text-shadow: none;

.panel-footer {
  background: #CB7904;
  color: #353535;
}

}

.btn-primary {
  color: #fff;
  background-color: #f89c1b;
  border-color: #f89c1b;
}

.btn-primary:hover {
  color: #fff;
  background-color: #fbaf17;
  border-color: #f89c1b;
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Futura', sans-serif;  color: #ffffff;
  color: #6D6Ac9;
}

.lead {
  font-family: 'Futura', sans-serif;  color: #ffffff;
  color: #6D6Ac9;
}

h1 small, h1 .small, h2 small, h2 .small, h3 small, h3 .small, h4 small, h4
.small, h5 small, h5 .small, h6 small, h6 .small, .h1 small, .h1 .small, .h2
small, .h2 .small, .h3 small, .h3 .small, .h4 small, .h4 .small, .h5 small, .h5
.small, .h6 small, .h6 .small {
  color: #efefef;
}

/*  color: #5D91C0;
 opacity: 0.5;
 z-index: 1;  */

/* FORMS */
label {
  font-size: 1.5em;
  color: #6D6Ac9;
}

.field {
  padding: 5px;
}

/* HOME JUMBOTRON */
.jumbotron {
  background-color: #6D6Ac9;
  margin-top: 20px;
}
.jumbotron h1, .jumbotron .lead {
  color: #ffffff;
}

/* GROUP SEARCH */
.group-address {
  margin-top: 20px;
  font-weight: bold;
}

.search-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-form label {
  font-family: 'Futura', sans-serif;
}

.clear-search {
  display: inline-block;
  vertical-align: top;
  margin-top: 11px;
}

/* GROUP SHOW */
.section-link {
  margin-left: 20px;
}

/* TASKS */

.task-title {
  font-size: 1.5em;
}

.task-section {
  margin-top: 40px;
}

.task_card .panel-body {
  background-color: #f7f7f7;
}

.nav-tabs{
  background-color:#f7f7f7;
}

.tab-content{
  background-color:#fff;
}

.tab-content{
  background-color:#fff;
  padding:15px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li > a{
  border: medium none;
}

/*!
 *  * IE10 viewport hack for Surface/desktop Windows 8 bug
 *   * Copyright 2014-2015 Twitter, Inc.
 *    * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 *     */

/*
 *  * See the Getting Started docs for more information:
 *   * http://getbootstrap.com/getting-started/#support-ie10-width
 *    */
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }
